{% extends "VMforBeginnerApp/base.html" %}
{% load filter %}
{% block title %}
  {{ file_name }} - {{ open_file_path }}
{% endblock %}
{% block content %}
<style>
form {
  height: 100%;
}

nav {
  height: 6%;
  width: 100%;
}

#main-wrapper {
  height: 74%;
  width: 100%;
}

#output-wrapper {
  height: 20%;
  width: 100%;
}
</style>
<form action='?{% url_replace_with_nodelete request %}' method="POST">

<nav class="navbar navbar-inverse bg-inverse">
  <a class="navbar-brand" href="#">Tenchi-Sozo</a>
</nav>

<!-- ファイル選択とコード入力欄 -->
<div class="row" id="main-wrapper">

  <!-- のま:綺麗なui作ってね! to 梅津さん、みちこさん -->
  <div class="col-3 scroll">
    {% include "VMforBeginnerApp/includes/ui.html" %}
  </div>

  <!-- のま:設定変更がかっこよくできるui作ってね。to ともみさん-->
  <div class="col-3">
    {% include "VMforBeginnerApp/includes/settings1.html" %}
  </div>

</div>

{% include "VMforBeginnerApp/demo03.html" %}
  <form action="{% url  'VMforBeginnerApp:demo03' %}"> {% csrf_token %}
    <input type="submit" value="Button"/>
  </form>

{% include "VMforBeginnerApp/home2.html" %}
  <form action="{% url  'VMforBeginnerApp:home2' %}"> {% csrf_token %}
    <input type="submit" value="Home2"/>
  </form>

<!-- 出力表示エリア -->
{% comment %} のま:あとで消す {% endcomment %}
<div id="output-wrapper">
  {% include "VMforBeginnerApp/includes/output_area1.html" %}
</div>

{% csrf_token %}
</form>

{% endblock %}
